body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.calculator{
    display: inline-block;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
    width: 400px;
    height: 540px;
}

button{
    background-color: rgb(48, 48, 48);
    padding: 10px;
    margin-left: 13px;
    margin-top: 10px;
    height: 80px;
    width: 80px;
    border-radius: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

input{
    width: 380px;
    border-radius: 10px;
    height: 50px;
    margin-left: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
    color: white;
    font-size: 30px;
    text-align: right;
}

.button_css_1{
    color: rgb(32, 169, 32);

}

#C{
    color: red;
}

#equals{
    background-color: rgb(32, 169, 32);
}

button:hover{
    background-color: rgb(21, 21, 21);
}

#equals:hover{
    background-color: rgb(8, 95, 8);
}